body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.banner {
    object-fit: cover;
    object-position: 0 -27px;
    width: 100%;
    height: auto;
    clip-path: inset(0 0 160px 0); /* Cuts 20 pixels from the bottom */
}

.banner-text {
    position: absolute; /* Positions the element absolutely within its containing element */
    top: 16%; /* Positions the top of the element at 50% of the height of the containing element */
    left: 55%; /* Positions the left of the element at 50% of the width of the containing element */
    transform: translate(-50%, -50%); /* Moves the element left by 50% of its width and up by 50% of its height, effectively centering it */
    color: white; /* Sets the text color to white */
    font-size: 64px; /* Sets the font size to 48 pixels */
    font-weight: bold; /* Sets the font weight to bold */
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); /* Adds a shadow to the text with a 2px horizontal and vertical offset, a 4px blur radius, and a semi-transparent black color */
}

.banner-subtext {
    position: absolute;
    top: 25%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.banner-date {
    position: absolute;
    top: 35%;
    left: 39%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.banner-location {
    position: absolute;
    top: 35%;
    left: 55%;
    transform: translate(-53%, -50%);
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.banner-hr {
    position: absolute;
    top: 28%;
    left: 55%;
    transform: translateX(-50%);
    width: 42%;
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #fff, #fff, #fff);
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-vertical-line {
    position: absolute;
    top: 32%;
    left: 45%;
    transform: translateX(-50%);
    width: 2px;
    height: 6%;
    background: #333;
    background-image: linear-gradient(to bottom, #fff, #fff, #fff);
}

.title {
    font-size: 2em;
    margin-top: 20px;
}
