@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bold-weight: 600;
}

.noto-sans-variable {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 375;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  background-color: #fff;
}

h1 {
  text-align: center;
}

h1,
h2,
strong {
  font-weight: var(--bold-weight);
}

h1,
h2 {
  margin-top: 0;
}

h2 {
  color: #0295A3;
}


nav {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

nav>* {
  flex: auto;
  text-align: center;
}

nav.header {
  a {
    background-color: #f0f8f8;
    margin: 0 4px;
    padding: 2px 2px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.1s;
  }

  a:hover {
    background-color: #e8fdff;
  }
}

nav.organizers {
  img {
    width: 128px;
  }

  h3 {
    margin: 0 auto;
    max-width: 128px;
    font-size: 1rem;
  }
}


section {
  padding: 25px 45px;
  margin: 16px auto;
  background-color: white;
  box-shadow: 0px 0px 10px #999;
  border-radius: 15px;
  transition: width 0.1s ease-out;
}

@media (min-width: 240px) {
  section {
    width: calc(92.5vw - 30px);
    padding: 20px 20px;
  }

  h1 {
    font-size: 1.8rem;
  }
}

@media (min-width: 640px) {
  section {
    width: calc(65vw + 80px - 30px);
    padding: 25px 25px;
  }

  h1 {
    font-size: 1.9rem;
  }
}

@media (min-width: 900px) {
  section {
    width: calc(47.5vw + 190px - 30px);
    padding: 30px 30px
  }

  h1 {
    font-size: 2.375rem;
  }
}

@media (min-width: 1281px) {
  section {
    width: calc(40vw + 280px - 30px);
    padding: 35px 35px
  }

  h1 {
    font-size: 2.65rem;
  }
}

.map {
  width: 100%;
}


.bigimage {
  width: calc(min(100%, 360px));
}

.bannerimage {
  width: calc(min(100%, 520px));
}

.block-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rounded-corner {
  border-radius: 15px;
}

a,
a:visited {
  color: #028a97;
  font-weight: 500;
}

/* schedule  */
table.schedule {
  font-style: italic;
  width: 100%;
  border-collapse: collapse;

  tr>td {
    border-bottom: 1px solid black;
    padding: 4px 0;
  }

  tr>.sch-time {
    width: 5em;
    vertical-align: top;
  }

  details>summary {
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.1s;
  }

  details>summary:hover {
    background-color: #e8efef;
  }

  .sch-talks {
    font-style: normal;
    margin: 12px 12px;

    .sch-talk {
      padding: 4px 4px;
    }

    .sch-talk:nth-child(odd) {
      background-color: #e8efef;
    }

    .sch-talk:nth-child(even) {
      background-color: #fcfefe;
    }

    .sch-talk-title {
      font-weight: var(--bold-weight);
    }
  }
}